$primeira-cor: #06121E;
$primeira-dark: #040f1a;
$primeira-ligth: #0c2135;

$segunda-cor: #090d11;
$segunda-dark: #06090c;
$segunda-cor: #1a1f25;


$auxiliar-cor: #696969;

$auxiliar-dark: #161617;

$auxiliar-ligth: #353436;

$terceira-cor: #ffffff;
 
$terceira-dark: #fefbff;


$ultima-cor: #2F4F4F;
$ultima-dark: #b42b2b;
$ultima-ligth: #d34040;
