$primeira-cor: #010911;
$primeira-dark: #040f1a;
$primeira-ligth: #0c2135;

$segunda-cor: #090d11;
$segunda-dark: #06090c;
$segunda-cor: #0b121a;


$auxiliar-cor: #696969;

$auxiliar-dark: #161617;

$auxiliar-ligth: #2d2d2eaa;

$terceira-cor: #ffffff;
 
$terceira-dark: #fefbff;


$ultima-cor: #f4b137;
$ultima-dark: #0e0d0d;
$ultima-ligth: #d34040;
