header{
    width: 100%;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;

}
i {
    color: $terceira-dark;
}
.header-icons{
    display: flex;
    gap: 15px;
}
.header-icons a:hover {
    color: $ultima-cor;
}