* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

i {
  color: #fefbff;
}

.header-icons {
  display: flex;
  gap: 14px;
  align-self: flex-start;
  margin-top: 40px;
}

.header-icons a:hover i {
  animation: translateY 0.9s infinite alternate;
  color: #f4b137;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-7px) scale(1.2);
  }
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.header-button {
  color: #fefbff;
  border: 2px solid #fefbff;
  padding: 8px 25px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.6s;
  display: flex;
  align-self: flex-start;
  margin-top: 40px;
}

.header-button:hover {
  border: 2px solid #f4b137;
  background-color: #f4b137;
}

.header-button:hover i {
  animation: translateY 0.7s infinite alternate;
  color: #f4b137;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo img {
    width: 400px;
  }
  .header-button {
    display: none;
  }
}
@media screen and (max-width: 768px) and (max-width: 390px) {
  .header-logo img {
    width: 300px;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #353436), url(../Assets/bg.svg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 0;
  opacity: 0.8;
}

.hero {
  color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: -99px;
}

h1 {
  text-align: center;
  line-height: 100%;
  max-width: 1140px;
  font-size: 36px;
  margin-top: -99px;
}

p {
  text-align: center;
  margin: 24px;
}

.button-contact {
  padding: 20px 28px;
  color: #fefbff;
  background-color: #f4b137;
  border: 2;
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
  border-radius: 6px;
}

.button-contact:hover {
  animation: scaleButton 0.9s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 24px;
    padding: 0 14px;
    width: 1;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 380px) {
  .hero h1 {
    font-size: 18px;
  }
  .hero p {
    font-size: 10px;
  }
}
.about {
  background-color: rgba(45, 45, 46, 0.6666666667);
  overflow: hidden;
  color: #fefbff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.services {
  background-color: rgba(45, 45, 46, 0.6666666667);
  color: #fefbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 18px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 785px;
}

.haircuts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 0 44px 34px 44px;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fefbff;
  border-radius: 8px;
  box-shadow: 0px -1px 16px -4px #f4b137;
  overflow: hidden;
}
.haircut img {
  width: 100%;
  max-width: 358px;
  transition: transform 0.4s;
}
.haircut .haircut img :hover {
  transform: scale(1.3);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #f4b137;
  z-index: 99;
}

.haircut-info button {
  color: #fefbff;
  background-color: #0c2135;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .haircuts {
    flex-direction: column;
  }
  .haircuts img {
    max-width: 748px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px 0;
  gap: 4;
  color: #fefbff;
  background-color: #010911;
}

.footer-icons {
  display: flex;
  gap: 20px;
  color: #fefbff;
  font-size: 12px;
}

.footer img {
  width: 100px;
  margin-top: -25px;
}

.footer p {
  margin-top: -30px;
  font-size: 8px;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 54px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tootip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background: #0e0d0d;
  color: #fefbff;
  opacity: 0;
  transition: opacity 0.6s;
}

.btn-whatsapp:hover .tootip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 44px;
  }
}
body {
  font-family: "Sora" sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(45, 45, 46, 0.6666666667);
}

button {
  font-family: "Sora" sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */